
<h1>ALL THE STATIONS</h1>
<h2>These are the closest stations within 10 miles of your selected zip</h2>

<br><br>

<div>
  <p>
    <% @stations.each do |station| %>
      Station Name:                            <%= station.name %>
      Station Address:                         <%= station.address %>
      Station City:                            <%= station.city %>
      Station State:                           <%= station.state %>
      Station ZipCode:                         <%= station.zip %>
      Station Fuel Types Availeble:            <%= station.fuel_type %>
      Station Distance from your selected zip: <%= station.distance %>
      Station Access Days/Times:               <%= station.access_days_times %>
      <br><br>
    <% end %>
  </p>
</div>
